<div class="page-header"><h2 class="text-center">Employees Details</h2></div>

<div class="row" >
  <div class="card col-3" *ngFor="let employee of employeeList | angularPaginator: { id: 'ANGULAR_PAGINATOR_DEFAULT',
  itemsPerPage: 8,currentPage: currentPage }; let i = index">
    <img  *ngIf="employee.gender==='Male'" src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top responsive" alt="Avatar" >
    <img  *ngIf="employee.gender==='Female'" src="https://www.w3schools.com/howto/img_avatar2.png" class="card-img-top responsive" alt="Avatar" >
    <div class="card-body">
      <h5 class="card-title">{{employee.name}} | {{employee.gender}} </h5>
      <p class="card-text">Department : {{employee.department}}</p>
      <p class="card-text">Date of Birth : {{employee.dateOfBirth}}</p>
    </div>
  </div>
  </div>
<br>
  <div style="float:right;">
  <angular-paginator (pageChange)="currentPage = $event"></angular-paginator>
</div>
 